 body {
      background-color: #dce3ea;
    }
    .sidebar {
      width: 220px;
      height: 100vh;
      background-color: #212529;
      position: fixed;
    }
    .sidebar .nav-link {
      color: #adb5bd;
      margin-bottom: 10px;
      transition: 0.3s;
    }
    .sidebar .nav-link.active,
    .sidebar .nav-link:hover {
      background-color: #0d6efd;
      color: #fff;
      border-radius: 6px;
      padding-left: 15px;
    }
    .content {
      margin-left: 240px;
      padding: 40px;
    }
    .card {
      border-radius: 12px;
    }
    footer {
      background-color: #212529;
      color: #ccc;
      text-align: center;
      padding: 50px;
      position: relative;
      bottom: 0;
      width: 100%;
      margin-top: 10px;
      padding-bottom: 50px;
    }
    footer a {
      color: #0d6efd;
      text-decoration: none;
    }
    footer a:hover {
      text-decoration: underline;
    }

   @media (min-width:992px){
      .content, .desktop-footer{
        margin-left: 250px;
      }
      .desktop-sidebar{
        z-index: 1050;
      }
   }

   .desktop-footer{
    position: fixed;
    bottom: 0;
    right: 0;
    width: 100%;
   }

   @media (min-width:992px){
      .desktop-footer{
        width: calc(100%-250px);
      }
   }

   .sidebar{
    width: 250px;
   }